body {
  font-family: sans-serif;
}

h1 {
  width: 100%;
  text-align: center;
}

main {
  padding: 36px;
}

.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px 0;
}

.category-container button {
  padding: 12px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 22px;
  min-width: 150px;
  margin: 0 30px;
}

/* .slider-container {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  position: relative;
} */

.image-holder {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background-color: lightgrey;
  background-image: url("https://baconmockup.com/1200/600/");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: 2px solid black;
  filter: brightness(.8);
}

.button-container {
  width: calc(100% + 160px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -80px;
  display: flex;
  justify-content: space-between;
}

.button-container button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  filter: brightness(.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container button:hover {
  filter: brightness(1.1);
}

.counter-container {
  position: absolute;
  bottom: 10px;
  right: 30px;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 600;
}

.bullet-container {
  padding: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: lightgrey;
  cursor: pointer;
}
.bullet-active {
  width: 14px;
  height: 14px;
  transform-origin: center;
  background: #FFFFFF;
  cursor: default;
}
/* ==========*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrap {
  width: 100%;  
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-color: rgba(94, 93, 88, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.items-ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  gap: 20px;
}
.itemnavbar {
  position: relative;
  list-style-type: none;
}
.itemnavbar a {
  font-family: 'Montserrat';
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.itemnavbar::before {
  content: " ";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
  

}
.itemnavbar a:hover{
  color: #18CFAB;
}
.itemnavbar:hover::before {
  
  background-color: #18CFAB;
}
.main-banner{
background: url('../img/01.png') no-repeat;
background-position: center;
background-size: cover;
height: 100vh;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}
.logo-img {
  clip-path: polygon(50% 1%, 0% 30%, 1% 70%, 50% 100%, 100% 70%, 100% 30%);
  background-color: #18CFAB;
  width: 58px;  
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  color: white;
}
.logo-name {
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}
.log-span {
  color: #18CFAB;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}
.main-banner {
  margin-bottom: 8px;
}
.content h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: white;
  text-transform: uppercase;
}
.content h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 78px;
  text-transform: uppercase;
  color: white;
}
.content h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: #D4D4D4;
  padding-bottom:  134px;

}
.button-baner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.btn-baner1{
  background: #18CFAB;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px 18px;
  line-height: 110%;
  border-top: 5px white;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 3px 0 #fff;
  box-shadow: inset +3 -0px 0 #fff;

}
.btn-baner2 {
  background: #00CBF6;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px 18px;
  line-height: 110%;
  border-top: 5px white ;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 3px 0 #fff;
  box-shadow: inset +3 -0px 0 #fff;
}
.main-span {
  color: #18CFAB;

}
.block-info {
  display: flex;
}
.wrap-info{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
}
.item-info {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;

}
.black {
  background-color: #1C2A33;
  color: #18CFAB;
}
.green {
  background-color: #18CFAB;
  color: white;
}
.img-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height:  100px;
  padding-top: 45px;
}
.item-pading{
  padding-top: 50px;

}

/* tabs blok  ===================================*/
.title-service {
  display: block;
  align-items: center;
  text-align: center;
  color: #4E4E4E;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 101px;
}
.span-wrap::before {
  content: "";
  position: absolute;
  width: 78px;
  top: 140px;
  right: 590px;
  height: 1px;
  background: #18CFAB;
}
.span-wrap::after {
  content: "";
  position: absolute;
  width: 78px;
  top: 144px;
  right: 580px;
  height: 1px;
  background: #18CFAB;
}
.wrap-tab {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 84px;
  padding-bottom: 90px;
  
}
#tabs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-bottom: 27px;
  
}
.tabs-title {
  position: relative;
  list-style-type: none;
  background: #F8FCFE;
  border: 1px solid #EDEFEF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 110%;
  padding: 18px 34px;
  
}
.active::before {
  content: "\25BC";
  position: absolute;
  bottom: -15px;
  color: #18CFAB;
  left: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  

}
/* #tab li:hover{
  color: #18CFAB;
}
.tabs-title:hover::before {
  color: #18CFAB;
} */

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-left: 52px;
  padding-right: 28px;
}
.tabs-title:hover{
  border: 1px solid #18CFAB;
}
.img-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 139px;
}
.tabs-title.active {
  display: flex;
  background-color:#18CFAB ;
  
  color: #23201D;
}
.tabhiden {
  display: none;
}
.li-active {
  display: flex;
}
/* section now =========================================*/
.wrap-now {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: url('../img/09.png') no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 1220px;
  height: 476px;
  
}
.wrap-now h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  padding-top: 127px;
  padding-bottom: 13px;
  text-transform: uppercase;
  color: #18CFAB;
}
.wrap-now p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #D8D8D8;
  padding-bottom: 67px;
}
.wrap-now button {
  background: #18CFAB;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px 18px;
  line-height: 100%;
  border-top: 5px white;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 3px 0 #fff;
  box-shadow: inset +3 -0px 0 #fff;
  
}
/* Our Amazing Work===================================== */
.tab-amazing {
  display: block;
  align-items: center;
  text-align: center;
  color: #4E4E4E;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 101px;
  background: #E9EDEF;
}
.wrap-tab-amaizing {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 95px;
  padding-bottom: 99px;
  flex-direction: column;
  
}
#tabs2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-bottom: 27px;
  
}
.wrap-flip-card {
    display: flex;
    flex-wrap: wrap;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  width: 282px;
  height: 211px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E9EDEF;
  color: white;
  transform: rotateY(180deg);
  border-top: 6px color #18CFAB;
}
.flip-card-back img {
  padding-top: 42px;
}
.flip-card-back  h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14.1771px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #18CFAB;
}
.flip-card-back p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #8A8A8A;

}
.flip-card-hait {
  display: none;
}
.btn-amaizing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #18CFAB;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  width: 168px;
  height: 63px;
  margin-top: 70px;
}
.btn-load {
  display: flex;  
  justify-content: center;
  align-items: center;
  padding-bottom: 107px;
}
/* Breaking News===================================== */
.breaking-news {
  position: relative;
  background-color: white;
}
.title-news {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #4E4E4E;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  padding-top: 82px;
  padding-bottom: 101px;
}
.span-wrap-news::before {
  content: "";
  position: absolute;
  width: 78px;
  top: 140px;
  right: 703px;
  height: 1px;
  background: #18CFAB;
}
.span-wrap-news::after {
  content: "";
  position: absolute;
  width: 78px;
  top: 144px;
  right: 695px;
  height: 1px;
  background: #18CFAB;
}
.galery-news {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-bottom: 128px;
  
}
.galery-item {
  width: 263px;
  height: 335px;  
}
.galery-item a {
  text-decoration: none;
}

.wrap-img-news {
  position: relative;
}
.data-news {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #203E38;
}
.dai-news {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 0px;
  padding-right: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #203E38;
  flex-wrap: wrap;
  width: 70px;
  height: 68px;
}
.dai-news:hover {
  background-color: #18CFAB;
}
.dai-wik-news {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 40px;
  padding-right: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}
.wrap-post-news {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.wrap-post-news h3 {
  display: flex;
  align-items: center;
  text-align: center;
  color: #717171;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 17.9885px;
}
.wrap-post-news p {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 13.991px;
  color: #777777;
}
.wrap-post-news h3:hover {
  color: #18CFAB;
}
/* coments ==============================================================*/
.coments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}

.wrap-coments {
  position: relative;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background: url('../img/20.png') no-repeat;
  background-position: center;
  background-size: cover;
  height: 853px;
}
.title-coments {
  position: relative;
}
.title-coments::before {
  content: "";
  position: absolute;
  width: 78px;
  top: 144px;
  right: 362px;
  height: 1px;
  background: #18CFAB;
}
.title-coments::after {
  content: "";
  position: absolute;
  width: 78px;
  top: 148px;
  right: 352px;
  height: 1px;
  background: #18CFAB;
}
.title-coments p {
  padding: 98px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
  
}
.nameclient {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #18CFAB;
}
.commit-prof{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #BBBBBB;
}
/* .wrap-coments p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding-top: 98px;
} */

.mySwiper2 {
  width: 960px;
  height: 653px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.mySwiper {
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-bottom: 66px;
 
}
.mySwiper2-wrapper {
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
}
.mySwiper1-wrapper {
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
}

.swiper-slide {  
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.swiper-slide  h3{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #BBBBBB;
}
.img-wrapers2 {
  position: relative;
  width: 145px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgb(24 207 171 / 30%);
  outline: 0;
  ;
}
.img-slides2 {  
  position: absolute; 
  display: flex;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 130px;
  height: 130px;  
}
.img-wrapers1 {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgb(24 207 171 / 30%);
  outline: 0;
  margin: 0px auto;
  
}
.img-slides1 {  
  position: absolute; 
  display: flex;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 80%;
  height: 80%;  
  object-fit: cover;
  object-position: center;
  background-image: url('../img/22.png');
  background-position: center;
  background-size: cover;
}
.img-slides3 {  
  position: absolute; 
  display: flex;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 80%;
  height: 80%;  
  object-fit: cover;
  object-position: center;
  background-image: url('../img/24.png');
  background-position: center;
  background-size: cover;
}
.img-slides4 {  
  position: absolute; 
  display: flex;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 80%;
  height: 80%;  
  object-fit: cover;
  object-position: center;
  background-image: url('../img/25.png');
  background-position: center;
  background-size: cover;
}
.img-slides5 {  
  position: absolute; 
  display: flex;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 80%;
  height: 80%;  
  object-fit: cover;
  object-position: center;
  background-image: url('../img/26.png');
  background-position: center;
  background-size: cover;
}
.img-slides6 {  
  position: absolute; 
  display: flex;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 80%;
  height: 80%;  
  object-fit: cover;
  object-position: center;
  background-image: url('../img/22.png');
  background-position: center;
  background-size: cover;
}
.swiper-button-next {
    --swiper-navigation-size: 20px !important;
    --swiper-theme-color: #BBBBBB !important;
    top: 758px;
    /* position: absolute; */
    right: 390px;
    
}
.swiper-button-prev:after {
  border: brown 19px !important;
}
.swiper-button-prev {
    --swiper-navigation-size: 20px !important;
    --swiper-theme-color: #BBBBBB !important;
    top: 758px;
    /* position: absolute; */
    left: 390px;
}
/* FOOTER----------------------------------------------------- */
.footer-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1922px;
  height: 121px;
  background: #22353F
}
.footer-wrap p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #AEAEAE;
}
.footer-wrap span {
  color: #18CFAB;
}
/* ======================================== */
