.colors-container {
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.item {
    position: relative;
    width: 200px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 10px 10px 40px 10px;
}

.item span {
    color: grey;
    position: absolute;
    left: 0;
    bottom: -30px;
    font-size: 14px;
    line-height: 14px;
}
